.buttons {
  width: 100px;
  height: 38px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  border: none;
  position: relative;
  clip-path: polygon(0% 30%, 12% 0%, 100% 0%, 100% 70%, 88% 100%, 0% 100%);
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-4px) scale(1.02);
    font-weight: bold;
  }
}

.red {
  background: #9F0013;
}

.gray {
  background: #5C5C5C;

}